/* Add CSS Styling */

p {
    background-color: #ffb6c1
}

#number2-id {
    color: blueviolet;
    font-size: 36px;
}

#num4-id {
    background-color: green;
    font-size: 24px;
    font-weight: 700;
}

#spec-paragraph {
    font-size: 24px;
}